<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="messaging">
    <div class="inbox_msg">   
      <div class="ac">
        <img src="../../assets/icon.png" class="icon">
        <form>
          <div class="form-group">
            <label for="username" class="inputlabel">Username:</label>
            <input type="username" [(ngModel)]="username" name="username" class="uneditableinput" readonly>
            <small id="usernameHelpInline" class="text-muted">
              Username can only modify when create account.
            </small><br><div *ngIf="curuserrole!=='aadmin'">
            <label label for="email" class="inputlabel">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" [readonly]="curuserrole!=='sadmin' && role==='sadmin'" [readonly]="curuserrole==='gadmin' && role==='gadmin' && curusername!==username">
            <small id="emailHelpInline" class="text-muted">
              Please input valid email.
            </small><br>
            <label label for="password" class="inputlabel">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" [readonly]="curuserrole!=='sadmin' && role==='sadmin'" [readonly]="curuserrole==='gadmin' && role==='gadmin' && curusername!==username">
            <small id="PasswordHelpInline" class="text-muted">
              You password here.
            </small><br>
            <label label for="password" class="inputlabel">Password Confirm:</label>
            <input type="password" id="cfpassword" [(ngModel)]="password" name="password" [readonly]="curuserrole!=='sadmin' && role==='sadmin'" [readonly]="curuserrole==='gadmin' && role==='gadmin' && curusername!==username">
            <small id="PasswordHelpInline" class="text-muted">
              Repeat your password.
            </small><br>
            <label label for="role" class="inputlabel">Role:</label>
            <select *ngIf="curuserrole==='sadmin'" [(ngModel)]="role" name="role" [disabled]="username===curusername">
              <option value=""></option>
              <option value="sadmin">Super Admin</option>
              <option value="gadmin">Group Admin</option>
              <option value="aadmin">Assist Admin</option>
              <option value="user">Normal User</option>
            </select>
            <select *ngIf="curuserrole==='gadmin'" [(ngModel)]="role" name="role" [disabled]="username===curusername || curuserrole!=='sadmin' && role==='sadmin' || curuserrole==='gadmin' && role==='gadmin' && curusername!==username">
              <option value=""></option>
              <option value="aadmin">Assist Admin</option>
              <option value="user">Normal User</option>
            </select>
            <small id="PasswordHelpInline" class="text-muted">
              Change User Role.
            </small><br>
          </div></div>
          <div *ngIf="curuserrole!=='aadmin'">
            <button (click)="savechanges()">save</button>
            <button *ngIf="deletecheck" (click)="confirmdel()" class="delete">Confirm</button>
            <button  (click)="deletecheckfc()" class="delete">Delete User</button>
          </div>
        </form>
      </div>
      <div class="ac4gprm">
        <div class="displaygplist">
          <h1>Group List</h1>
          <div class="list">
            <div *ngFor="let group of curusergroup">
              <h3>{{group[0]}}</h3>
            </div>
          </div>
          <div>
            <form *ngIf="curuserrole!=='aadmin'">
              <select [(ngModel)]="avaliablegroupArray[i]" name="avaliablegroupArray{{i}}">
                <option *ngFor="let agp of avaliablegroupArray" [ngValue]="agp">{{agp[0]}}</option>
              </select>
              <button (click)="addtogroup(avaliablegroupArray[i])">Add</button>
              <br>
              <select [(ngModel)]="curusergroup[i]" name="curusergroup{{i}}">
                <option *ngFor="let cgp of curusergroup" [ngValue]="cgp">{{cgp[0]}}</option>
              </select>
              <button (click)="removefromgroup(curusergroup[i])">Remove</button>
            </form>
          </div>
        </div>
        <div class="displayrmlist">
          <h1>Room List</h1>
          <div class="list">  
            <div *ngFor="let room of curuserroom">
              <h3>{{room[0]}}--{{room[1]}}</h3>
            </div>
          </div>
          <div>
            <form>
              <select [(ngModel)]="avaliableroomArray[i]" name="avaliableroomArray{{i}}">
                <option *ngFor="let arm of avaliableroomArray" [ngValue]="arm">{{arm[0]}},{{arm[1]}}</option>
              </select>
              <button (click)="addtoroom(avaliableroomArray[i])">Add</button><br>
              <select [(ngModel)]="curuserroom[i]" name="curuserroom{{i}}">
                <option *ngFor="let crm of curuserroom" [ngValue]="crm">{{crm[0]}},{{crm[1]}}</option>
              </select>
              <button (click)="removefromroom(curuserroom[i])">Remove</button>
            </form>
          </div>
        </div>
      </div>

        <div class="inbox_people3">
          <div class="headind_srch">

              <button (click)="logout()" class="logoutbtn"><img src="../../assets/logoutbyn.png"></button>
              <button (click)="chat()" class="acbtn" ><img src="../../assets/chat.png"></button>
    
          </div>
          <div class="inbox_chat">
            <div class="user_list">
              <div class="checkinput"><input  type="text" id="newname" [(ngModel)]="newname" name="newname" placeholder="" required pattern="\S+.*"/></div>
            </div>
            <div class="user_list">
              <button class="button5" (click)="adduser()">++ Add New User ++</button>
            </div>
            <div  *ngFor='let user of userArray'>
              <div class="user_list" *ngIf="curuserrole==='aadmin' && user[3]==='user'">
                <button class="button4" (click)="selectuser(user)">{{user[0]}}</button>
              </div>
              <div class="user_list" *ngIf="curuserrole==='gadmin' && user[3]!=='sadmin'">
                <button class="button4" (click)="selectuser(user)">{{user[0]}}</button>
              </div>
              <div class="user_list" *ngIf="curuserrole==='sadmin'">
                <button class="button4" (click)="selectuser(user)">{{user[0]}}</button>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
