.container{max-width:95%; margin:auto;}
img{ max-width:100%;}
  .inbox_people3 {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    height: 603.98px;
    width: 13%; 
    border-right:1px solid #c4c4c4;
    border-left: 1px solid black;
  }

.top_spac{ margin: 20px 0 0;}

.icon{
    width: 150px;
    height: 150px;
}

.display-4{
    color: #cccccc;
} 

.recent_heading {float: left; display: inline; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 70%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:0}
.chat_img {
  float: left;
  width: 15%;
}
.chat_ib {
  float: left;
  padding:0;
  width: 70%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 5px 5px 8px;
}
.user_list{
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 2px 0px 2px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.inbox_chat2 { height: 596px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 15%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 85%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.inputlabel{
    padding-right: 20px;
    width: 120px;
}

.checkinput input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);;};
.checkinput input:valid {  border-color: hsl(120, 76%, 50%);}



.uneditableinput{
    background-color: rgb(219, 219, 219);
}
.button4 {background-color: #e7e7e7; color: black; border: 0;width: 100%;height: 25px;}
.button5 {background-color: #8dfc96; color: black; border: 0;width: 100%;height: 25px;}
.received_withd_msg { width: 57%;}
.ac {
  float: left;
  padding: 30px 0px 0 0px;
  width: 87%;
  background: #f8f8f8 none repeat scroll 0 0;
  height: 603.98px;
  padding-left: 10%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.delbtn {border:0; padding: 0; border-radius: 50%;height: auto; width: 15%; float: right;}

.type_msg {border: 2px solid #000000;margin:0px 10px 0px 10px; position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
  }

.logoutbtn{
  display: inline;
  float: left;
  width: 40%;
}
.acbtn{
  display: inline;
  float: right;
  width: 40%;
}