<div class='background'>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    <form>
      <input type="text"  [(ngModel)]="username" name="username" placeholder="username">
      <input  type="password" [(ngModel)]="password" name="password" placeholder="password">
      <br>
      <button (click)="LoginClicked()">submit</button>
    </form>
    <h1>{{ errorMessage }}</h1>
  </div>
</div>
</div>