<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="messaging">
    <div class="inbox_msg">

      <div class="inbox_people">

        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Groups</h4>
          </div>
        </div>

        <div class="inbox_chat">
          <div class="chat_list active_chat" *ngIf='srole || grole'>
            <div class="chat_people">
              <input type='text' [(ngModel)]="newgroupname">
              <button (click)="addGroup()">Add</button>
            </div>
          </div>
          <div *ngFor="let group of groups">
            <button (click)="displayroom(group[0])" class="unstyled-button">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://www.pngkit.com/png/full/128-1284523_group-chat-icon-google-group-chat-icon.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{group[0]}}</h5>
                </div>
                <button *ngIf='srole || grole' (click)="rmgroup(group)" class="delbtn"><img src="../../assets/delbtn.png"></button>
              </div>
            </div>
            </button>
          </div>
        </div>
      </div>

      <div class="inbox_people2">

        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Channels</h4>
          </div>
        </div>

        <div class="inbox_chat">
          <div class="chat_list active_chat" *ngIf='srole || grole || arole'>
            <div class="chat_people">
              <input type='text' [(ngModel)]="newroomname">
              <button (click)="addRoom()">Add</button>
            </div>
          </div>
          <div *ngFor="let room of rooms">
            <button (click)="changeroom(room)" class="unstyled-button">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://www.pngkit.com/png/full/128-1284523_group-chat-icon-google-group-chat-icon.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{room[0]}}</h5>
                </div>
                <button *ngIf='srole || grole || arole' (click)="rmroom(room[1])" class="delbtn"><img src="../../assets/delbtn.png"></button>
              </div>
            </div>
            </button>
          </div>  
        </div>
      </div>


      

        <div class="mesgs">
          <div><h2>{{curgroup}}  {{curroom}}</h2></div>
          <div class="msg_history">
            <div *ngFor="let message of messages">
              <div class="incoming_msg" *ngIf="message[1] != username; else outgoing">
                <div class="incoming_msg_img"><p>{{message[1]}}:</p></div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{message[0]}}</p>
                    <br>
                  </div>
                </div>
              </div>
              <ng-template #outgoing>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{message[0]}}</p>
                  </div>
                </div>
              </ng-template>
            </div>
            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <form><input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="write_msg"/>
                <button (click)="chat(messagecontent)" class="msg_send_btn">Send</button></form>
              </div>
            </div>
        </div>

        <div class="inbox_people3">
          <div class="headind_srch">

              <button (click)="logout()" class="logoutbtn"><img src="../../assets/logoutbyn.png"></button>
              <button (click)="account()" class="acbtn" ><img src="../../assets/account.png"></button>
    
          </div>
          <div class="inbox_chat">
            <div class="user_list" *ngFor='let user of users'>
              <p>{{user}}</p>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
